* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
    background:linear-gradient(to top left, #660066 0%, #ff99cc 50%);

}
header {
    background-color: rgba(126, 37, 148, 0.63);
    margin-block-end: 30px;
    height: auto;
    justify-content: center;
    line-height: 90px;
}
main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 48px;
}
h1 {
    text-align:center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #021533;
}
.formulario {
    gap: 30px;
    grid-template-columns: 1fr;
}
.formulario__label {
    display: block;
    padding: 20px;
    cursor: pointer;
    color: #021533;
    text-align: center;
    font-size: 20px;
}
.formulario__grupo-input {
    position: relative;
}
.formulario__input {
    width: 100%;
    background: #e2dee152;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding:0 40px 0 10px;
    transition: .3s ease all;
}
.formulario__input:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(53, 8, 36, 0.644);
}
.formulario__input-error {
    font-size:12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo {
    position: absolute;
    display: block;
    color: #e71414;
    padding-top: 3px;
    text-align: center;

}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}
.formulario__mensaje {
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: rgba(53, 8, 36, 0.644);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}
.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn {
    margin-block-start: 20px;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #53045a;
    color: rgb(255, 252, 252);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    transition: .1s ease all;
}
.formulario__btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}
.formulario__btn:active,
.formulario__btn:focus {
    outline: none;
    border: none;
}
.formulario__mensaje-exito {
    margin: 1em ;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgb(58, 114, 56);
    padding: 0 15px;
    border-radius: 3px;
    font-size: 14px;
    color: black;
    display: none;
}
.formulario__mensaje-exito-activo {
    display: block;
}

.red-social{
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

/*Validaciones*/


.formulario__grupo-correcto .formulario__validacion-estado {
    color: green;
    opacity: 1;
}
.formulario__grupo-correcto .formulario__input {
    border: 2px solid green;

}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: red;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 2px solid red;
}

footer{
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(126, 37, 148, 0.63);
    gap: 15px;
    color: white;
    text-align: center;
}
.derechos{
    display: flex;
    align-items: center;
}
.red-social {
    width: 80px;
    height: 90px;

}

/*Media Queries*/

@media screen and (max-width:850px){
    h1 {
        font-size: 2em;
    }
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario__mensaje {
        font-size: 0.8em;
    }
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
    grid-column: 1;
}
}